.App {
  text-align: center;
}

.App-logo {
  height: 160px;
  margin-left: 60px;
}

.App-header {
  background-color: white;
  height: 300px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tableCells {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body-style {
  font-size: 18px;
}

.pics {
  height: 250px;
  width: 250px;
  display: inline-block;
  margin: 10px;
  border: solid 1px black;
  -webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari */
  filter: drop-shadow(8px 8px 10px gray);
}

.user {
  display: inline-block;
  width: 150px;
  height: 125px;
  border-radius: 25%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.homepagePics {
  width: 100%;
  -webkit-filter: brightness(70%); /* Safari */
  filter: brightness(70%);
  
  /* background: url(img_flower.jpg) no-repeat center fixed; 
  background-size: cover; */
  /* background-image: url("./Images/AdobeStock_64718583.jpeg") */
}

.mainPagePics {
  width: 100%;
  -webkit-filter: brightness(70%); /* Safari */
  filter: brightness(70%);
  -webkit-filter: opacity(10%); /* Safari */
  filter: opacity(70%)
}

.bg { 
  /* Full height */
  height: 100%; 
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing_rowMainText {
  font-size: 120px;
  text-shadow: 1px 1px 3px #000;
  margin-top: 200px;
  color: white;
  font-family: 'Marck Script', cursive;
  font-weight: 400;
  -webkit-filter: drop-shadow(8px 8px 10px black);
  filter: drop-shadow(8px 8px 10px black);
  -webkit-animation: fadein 5s;
  animation: fadein 5s;
  
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.tempText {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.spacer {
  width: 100%;
  height: 350px;
}

.midPic {
  width: 50%;
  height: 100%;
  
}

.actionButton {
  margin: 40px;
  padding: 15px 50px;
  border-radius: 6px;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 100px;
  margin-bottom: 10px;
  background-color: pink;
  -webkit-animation: fadein 15s;
  animation: fadein 15s;
}

.whiteDiv {
  height: 300px;
  width: 100%;
  border: solid thin grey;
}

.blackDiv {
  height: 200px;
  width: 100%;
  background-color: black;
}

.contactUs {
  height: 30%;
  width: 100%;

}

.contactAddress {
  margin-top: 100px;
  text-align: center;
}


.addReports {
  position: absolute;
  margin: 15px;
}

.newReportButton {
  display: relative;
  position: fixed;
  float: right;
  right: 20px;
}

.bigger {
  font-size: 30px;
  margin: 0px 15px 10px 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}