.App {
  text-align: center;
}

.App-logo {
  height: 160px;
}

.App-header {
  background-color: white;
  height: 300px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tableCells {
  font-size: 1.5rem; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
